# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
tf-gpu/
*.env

# VS Code settings
.vscode/

# Data and model files
/data/
model/
*.h5
*.keras

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/